<div class=" margin-top container" style="max-width: 540px;">
    <div class="row">

     <div class="chip card-body">
     <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
            Podcast 1 : La nueva normalidad
    </div>
          
 
    <div class="chip card-body ">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
  
 
    <div class="chip card-body ">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
  
    <div class="chip card-body ">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
  
  <div class="chip card-body">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
    </div>
  </div>




  