<img class="btn-back" src="../../../../assets/back.png" alt="icono-back" (click)="routerSesiones()" />

<div class=" container margin-top">
  <div class="row">
    <!-- video 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="">
          <h5 class="titulo">Por el momento no tenemos videos en esta carpeta</h5>
          <hr/>
        </div>
      </div>
      
    </div>
<!--HTML template para podcast
  <div class=" margin-top container" style="max-width: 540px;">
    <div class="row">

     <div class="chip card-body">
     <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
            Podcast 1 : La nueva normalidad
    </div>
          
 
    <div class="chip card-body ">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
  
 
    <div class="chip card-body ">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
  
    <div class="chip card-body ">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
  
  <div class="chip card-body">
    <img src="../../../../assets/microphone.png" alt="Person" width="96" height="96">
    Podcast 1 : La nueva normalidad
  </div>
    </div>
  </div>
-->



  