
<div class="login-fondo bg-img">
  <div class="row ">
    <div class="card-login ">
     <div class="top">
          <h1 class="text-center">LOGIN</h1>
          <h5 class="text-center">Inicia sesión para tener la mejor experiencia emprendedora</h5>
         
          <div class="form-group mt-3">
            <button (click)="onGoogleLogin()" class="btn-block btn  btn-lg " id="color-btn">
              Google
            </button>
          </div>
        </div>
          
   
    </div>
  </div>
</div>