<img class="logo" src="../../../assets/logo-ppm.svg" alt="logo-ppm">
<div class="login-fondo bg-img">
  <div class="">
    <div class="card-login ">
     <div class="top ">
          <h1 class="text-center color-tittle">Iniciar sesión</h1>
          <h5 class="text-center color-subtittle">Ingresa con tu correo electrónico</h5>
         
          <div class="form-group mt-3 ">
            <button (click)="onGoogleLogin()" class="btn-block btn  btn-sm " id="color-btn">
             <img class="btn-google" src="../../../assets/gmail.svg" alt="btn-google"> Google
            </button>
          </div>
        </div>
          
   
    </div>
  </div>
</div>