
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">LOGIN</h1>
          <h5 class="text-center">Inicia sesión para tener la mejor experiencia emprendedora</h5>

          <div class="form-group mt-3">
            <button (click)="onGoogleLogin()" class="btn-block btn btn-primary btn-lg btn-google">
              Google
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
