/*#inferior{
    color: #FFF;
    background: #000;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
   /* left:0px; /*A la derecha deje un espacio de 0px*/
    /*right:0px; /*A la izquierda deje un espacio de 0px*/
    /*bottom:0px; /*Abajo deje un espacio de 0px*/
    /*height:50px; /*alto del div*/
   /* z-index:0;*/
     /*}
*/


.menu-footer {
  overflow: hidden;
  background-color: #a00046;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -0.2px 1px 0px black;
}

.menu-footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

.menu-footer a:hover {
  /*background: #ffffff;
  
  border-radius: 0px 0px 50px 50px;
  padding: 14px 14px;
  margin-bottom: 10px;*/
  background-image: url("../../../assets/hover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 50px;
  margin-bottom: 3px;
  color: #a00046;

}

.menu-footer a.active {
  background-color: #eb6864;
  color: white;
}