.formulario{
    margin-top:15px;
    margin-bottom: 85px;
}

.form {
    position: relative;
    width: 100%;
    padding-bottom:50%;
  }
  
  .form iframe{
 
    margin-left:2px;
    top: 0;
    left: 0;
    width: 100%;

  }

  .titulo{
    color:#009193;
    font-weight: 800;
    font-size: 20px;
  }
  
  .subtitulo{
    color: #a00046;
  }
  
  .content{
      text-align: center;
      margin-top: -40px
  }

  #color-btn{
   background-color: #a00046;
  }

  #Iframe-Liason-Sheet {
    max-width: 350px;
    max-height: 1200px;
    overflow: none;
    }
    /* inner wrapper: make responsive */
    .responsive-wrapper {
    position: relative;
    height: 0; /* gets height from padding-bottom setting */
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    }
    .responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    }
    /* padding-bottom = h/w as a % */
    .responsive-wrapper-wxh-760x1200 {
    padding-bottom: 363.6364%;
    }
    .iframe-border {
    border: 1px solid #000;
    }
    .center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
    }

