
<div class="tamaño  img-fluid">
<div class="container-sm ">
    <div class=" text-center ">
        <div class="card-body ">
          <h5 class="margin-top color-text text-center font-weight-bold">¡Felicitaciones!</h5>
          <p class="color-text text-center">Con Peppermint women ya eres parte de nuestra comunidad de emprendimiento</p>
          <p class=" color-text2 text-left font-weight-bold">Nuestro compromiso</p>
          <ol class="color-text text-left">
              <li>Avanzar juntas en todo el proceso que llevará a que coloques tu producto o servicio en el mercado y a realizar sus primeras ventas.</li>
              <li> Guardar absoluta confidencialidad sobre la información que compartas con nosotros.</li>
              <li>Ayudarte en:</li>
              
          </ol>
          <div class="">
              <ul class="color-text text-left margin-left">
                  <li>Identificar tu oportunidad de negocio</li>
                  <li>Encontrar el propósito de tu marca</li>
                  <li>Tener una línea gráfica de comunicación clara</li>
                  <li>Armar un modelo de negocio</li>
                  <li>Lanzar tu marca</li>
              </ul>
          </div>
          <div class="margin-top">
          <a id="color-text-btn" class="btn btn-light" (click)="routeAcuerdoTwo()">Siguiente</a>
        </div>
        </div>
        
      </div>
</div>
</div>



