
.tamaño {
    background-image: url("../../../assets/roadmap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:12px;
    margin-bottom:12px;
    width: 99%;
    
    height: 32rem;
}

