

<nav class="nav-header navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="\" *ngIf="!isLogged">Peppermint women</a>
  
    <li class="nav-item" *ngIf="isLogged" routerLink="/profile">
      <img class="image-header" src="{{user.photoURL}}" alt="Foto de perfil">
    </li>
 
  <button class="btn btn-header" type="button" routerLink="/login" *ngIf="!isLogged">
   Iniciar sesión
  </button>
  <button class="btn btn-header" type="button" routerLink="/" (click)="onLogout()" *ngIf="isLogged">
    Salir
   </button>
 
</nav>

<div class="d-flex justify-content-center menu-footer" *ngIf="isLogged">
  <a routerLink="/agenda" >Agenda</a>
  <a routerLink="/clases">Clases</a>
  <a routerLink="/comunidad">Comunidad</a>
  <a routerLink="/documentos">Documentos</a>
</div>


