


<!--Inicio de maquetado de la pantalla principal para rellenar-->
<div class="row align-self-center space">
  <div class="col col-4">
    <img src="{{dataUser.urlPerfil}}" class="mr-3 imagen-card" alt="foto de usuario">
  </div>
  <div class="col text-left margin">
    <h4 class="mt-0 titulo">{{dataUser.nombreCompleto}}</h4>
    <span class="texto">{{dataUser.emprendimientoTitulo}} Emprendimiento</span> 
    <div class="row justify-content-left margin" >
      <div class="col ">
       <button class="btn btn-header btn-outline-warning" id="color-btn" type="button" (click)="onLogout()" *ngIf="isLogged">
      Salir
      </button>
      </div>
      <div class="col ">
        
    <button class="btn btn-header btn-outline-warning" id="color-btn" type="button" (click)="editPeffil()" *ngIf="dataRoute.path === 'perfil'">
    Editar
    </button>
      </div>
    </div>
  </div>
  
</div>


<div class="col space">
<div class="text-left">
  <h4 class="subtitulo1">Sobre mi</h4>
  <p class="texto2">{{dataUser.sobremi}} Agregar texto</p>
</div>
</div>

<div class=" col text-left space">
  <h4 class="subtitulo2">Emprendimiento</h4>
<div class="row align-self-center">
  <div class="col col-4">
    <img src="{{dataUser.logoEmprendimiento}}" class="mr-3" alt="logotipo">
  </div>
  <div class="col text-left">
    <h5 class="mt-0" style="font-weight: 700;">{{dataUser.emprendimientoTitulo}} Nombre</h5>
    <p class="texto2">{{dataUser.emprendimientoSubtitulo}} Descripción del emprendimiento</p>
  </div>
</div>
</div>



  <div class=" col space text-left">
    <h4 class="subtitulo3">Visita mi página</h4>
    <a class="texto2" style="font-weight: 700;" href="{{dataUser.urlPagina}}"><span>{{dataUser.urlPagina}} Url- página</span></a>
  </div>


 

 




 

<!--Fin de maquetado de la pantalla principal para rellenar-->


<div>
<div *ngIf="editPerfil === true" class="modl-message modal-dialog modal-dialog-centered modal-dialog-scrollable" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
        <button type="button" class="close" (click)="closeModl()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formDataUser">
          <div class="form-group">
            <label for="exampleInputEmail1">Foto Perfil</label>
            <input type="file" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre Completo</label>
            <input type="text" class="form-control" formControlName="nombreCompleto" id="nombre">
          </div>
          <div class="form-group">
            <label for="celular">Celular</label>
            <input type="number" class="form-control" formControlName="celular" id="celular">
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono fijo</label>
            <input type="number" class="form-control" formControlName="telefono" id="telefono">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email">
          </div>

          <div class="form-group">
            <label for="sobremi">Sobre mí</label>
            <textarea class="form-control" id="sobremi" formControlName="sobreMi" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="logoempre">Logo de emprendimiento</label>
            <input type="file" class="form-control" id="logoempre">
          </div>
          <div class="form-group">
            <label for="emprendimiento">Emprendimiento</label>
            <input type="text" class="form-control" id="emprendimiento" formControlName="emprendimiento">
          </div>
          <div class="form-group">
            <label for="rubro">Rubro</label>
            <input type="text" class="form-control" id="rubro" formControlName="rubro">
          </div>
          <div class="form-group">
            <label for="pagina">Página web (Link)</label>
            <input type="text" class="form-control" id="pagina" formControlName="paginaWeb">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModl()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveData()">Guardar</button>
      </div>
    </div>
</div>

</div>