.imagen-card {
  border-radius: 100%;
  max-width: 50px;
  max-height: 50px;
}

.modl-message {
      background: #fbfdfd;
      border-color: #f8fafa;
      padding: 5px;
      border: 1px solid transparent;
      border-radius: 5px;
      transition: all ease-in-out 0s;
      position: fixed;
      z-index: 1001;
      top: 20px;
      right: 20px;
      opacity: 1;
      margin: 15px;
      width: 80%;
}


.content-alerts {
  width: 100%;
}
