.margin-top{
    margin-top: 12px;
    margin-bottom: 85px;
    align-content: center;
    text-align: center;
    color:#a00046;
    font-weight: 800;
    font-size: 20px;
}

.titulo{
 text-align: left;
  }
  
  .subtitulo{
    color: #a00046;
  }

.btn-back{
  margin-top:20px;
  margin-bottom: 15px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-style: none;
  }