.margin-top{
    margin-top: 85px;
    margin-bottom: 85px;
    align-content: center;
    text-align: center;
    color:#a00046;
    font-weight: 800;
    font-size: 20px;
}

.titulo{
 text-align: left;
  }
  
  .subtitulo{
    color: #a00046;
  }