
<div class="container margin-top">

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6" (click)="women()">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid " src="../../../assets/women.svg" alt="carpeta-sesiones-grabadas">
            
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6" (click)="podcast()">
      <a routerlink="/podcast" class="d-block mb-4 h-100">
            <img class="img-fluid " src="../../../assets/podcast.svg" alt="">
            
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6" (click)="varios()">
      <a routerlink="/varios" class="d-block mb-4 h-100">
            <img class="img-fluidimg-thumbnail" src="../../../assets/otros.svg" alt="">
            
          </a>
    </div>
    
   

</div>
  