
<div class="tamaño  img-fluid">
    <div class="container-sm ">
        <div class=" text-center ">
            <div class="card-body ">
              <h5 class="margin-top color-text text-center font-weight-bold"></h5>
              <p class="color-text text-center"></p>
              <p class=" color-text2 text-left font-weight-bold">Tu compromiso</p>
              <ol class="color-text text-left">
                  <li>Brindaarle tiempo y dedicación al programa para lograr los objetivos que te plantees.</li>
                  <li>Brindarnos información necesaria sobre tu emprendimiento para poder ayudarte a avanzar.</li>
                  <li>Formar parte de la comunidad de manera activa. apoyando a las otras Women como tú.</li>
                  
              </ol>
              <h4 class="margin-top color-text2 text-center font-weight-bold">¿Preparada para vivir esta experiencia?</h4>
              <div class="margin-top">
              <a id="color-text-btn" class="btn btn-light" (click)="routeHome()">¡Estoy preparada!</a>
            </div>
            </div>
            
          </div>
    </div>
    </div>
    
    
    
    