body{
    background-color: #a00046 ;
}
.tamaño {
    background-image: url("../../assets/background-acuerdo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    min-height: 1024px;
    width: 100%;
    height: auto;
    
}

.margin-top{
    margin-top:80px
}

.color-text{
    color: #ffffff
}

.color-text2{
    color: #fbb03b;
}

#color-text-btn{
    color:#a00046
}

/*
.button{
margin-top: 500px;
margin-left: 80px;
width: 250px;
height: 200px;

font-size:0;
}

.color{
 color: #ffffff;
 margin-top: 550px;
margin-left: 150px;

}

*/