<div class="nav-header" id="">
  <div class="container margin-top">
    <div class="row">
      <div class="col">
        <li class="" *ngIf="isLogged" routerLink="/perfil">
          <img class="image-header" src="{{user.photoURL}}" alt="Foto de perfil">
        </li>
      </div>
      <div class="col div-ppm">
        <li class="" *ngIf="isLogged" routerLink="/perfil">
          <h3 class="tittle"> Mi agenda </h3>
        </li>
      </div>
      <div class="col div-ppm">
        <li class="" *ngIf="isLogged" routerLink="/perfil">
          <img class="btn-header" src="../../../assets/logo-ppm.svg" alt="Foto de perfil">
        </li>
      </div>

    
    
  </div>
</div>

<!--
<button class="btn btn-header" type="button" routerLink="/" (click)="onLogout()" *ngIf="isLogged">
  Salir
 </button>

-->