<div class="nav-header" id="">
  <div class="container margin-top">
    <div class="row">
      <div class="col">
        <li class="" *ngIf="isLogged" (click)="routerPerfil">
          <img class="image-header" src="{{user.photoURL}}" alt="Foto de perfil">
        </li>
      </div>
      <div class="col div-ppm">
        <li class="" *ngIf="isLogged">
          <h3 class="tittle"> ruta </h3>
        </li>
      </div>
      <div class="col div-ppm">
        <li class="" *ngIf="isLogged" (click)="routerHome">
          <img class="btn-header" src="../../../assets/logo-ppm.svg" alt="Foto de perfil">
        </li>
      </div>

  </div>
</div>

  <!-- <div>
    <h4 class="card-title">{{dataRoute.title}}</h4>
  </div>

<button class="btn btn-header" type="button" routerLink="/login" *ngIf="!isLogged">
 Iniciar sesión
</button>
<button class="btn btn-header" type="button" (click)="onLogout()" *ngIf="isLogged">
  Salir
 </button>

 <button class="btn btn-header" type="button" (click)="editPeffil()" *ngIf="dataRoute.path === 'perfil'">
  Editar
 </button>
 -->
<!-- </nav> -->
<!--
<button class="btn btn-header" type="button" routerLink="/" (click)="onLogout()" *ngIf="isLogged">
  Salir
 </button>

-->
