.image-header{
  border-radius: 100%;
  max-width: 50px;
  max-height: 50px;
}
li{
  list-style: none;
}

.margin-top{
margin-top:10px;
}


.nav-header {
/*<<<<<<< HEAD
  position: fixed; /*Fixed ya que queremos que la posición sea en relación al navegador
  top: 0; El valor 0 indica que va a quedar arriba de todo
  left: 0; Para que el menu se ubique siempre en la parte izquierda de la pantalla
  width: 100%; 100% para que ocupe todo el ancho del navegador
  text-align: center;
  z-index: 1000;
*/
  overflow: hidden;
  background-color: #fff;
  height: 70px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: -1px -4px 20px black;
}

.btn-header{
  max-width: 200px;
  min-height:20px;
}

.div-ppm{
  margin-left: 15px;
}

.tittle{
  color:#009193;
  font-size: 20px;
  margin-top: 12px;
}


