<img class="btn-back " src="../../../../assets/back.png" alt="icono-back" (click)="routerSesiones()" />
<div class="">
    <div class="row">
      <!-- video 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="">
          <iframe width="350" height="315" src="https://www.youtube.com/embed/VJ12wA3xtQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 class="titulo">Sesión 1: Bienvenida</h5>
            <hr/>
          </div>

          
        </div>
        
      </div>
   
      <!-- video 2 -->
      
      
      <!-- video 3 -->
      
     
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
