<img class="btn-back " src="../../../../assets/back.png" alt="icono-back" (click)="routerSesiones()" />
<div class="">
    <div class="container margin">
      <!-- video 1 -->
    
     <!-- <div class="card">
        <div class="card">
          <iframe class="card-img-top" width="560" height="350" src="https://www.youtube.com/embed/videoseries?list=PLXPifpr8cDCmH_J-Dzf8vQcmw7jW0Gi-p" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
          <div class="card-body">
            <h5 class="card-title">G1- Sesiones</h5>
          </div>
        </div>-->

       <!-- Texto -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="">
          <h5 class="titulo">Por el momento no tenemos videos en esta carpeta</h5>
          <hr/>
        </div>
      </div>


      </div>
    </div>