<img class="btn-back " src="../../../../assets/back.png" alt="icono-back" (click)="routerSesiones()" />
<div class="">
    <div class="">
      <!-- video 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="">
          <iframe width="350" height="315" src="https://www.youtube.com/embed/VJ12wA3xtQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 class="titulo">G1-Sesión 1: Bienvenida</h5>
            <hr/>
          </div>
        </div>

        <div class="card margin">
          <iframe class="card-img-top" width="560" height="350" src="https://www.youtube.com/embed/NKlGJ-9ZvkI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <div class="card-body">
            <h5 class="card-title">G1 - Sesión 2: Validación Personal: Pasión y Habilidad</h5>
          </div>
        </div>

         <div class="card margin">
          <iframe width="560" height="350" src="https://www.youtube.com/embed/8uehHiyt-U0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>         <div class="card-body">
            <h5 class="card-title">G1 - Sesión 3: Validación de mercado</h5>
          </div>
        </div>

        
      </div>
    </div>