<div class="container margin-top ">
    <div  *ngFor="let item of dataUsers" >
      <div class="row ">
      <div class="col-2 ">
        <img src="{{item.urlPerfil}}"
        class="imagen-card" alt="Img">
      </div>

      <div class="col">
        <h5 class="titulo">{{item.nombreCompleto}}</h5>
        <p class="subtitulo"><small class="text-muted">{{item.emprendimientoTitulo}}</small>
      </p>
      </div>


      <div class="row ">
        <div class="col">
          <img class="tamaño" src="../../../assets/eye.png" alt="button-image" (click)="routePerfil(item.idUser)" />
        </div>
        <div class="col">
        
           <img class="tamaño margin" src="../../../assets/whatsapp.png" alt="button-whatsapp" />
         
        </div>
        
      </div>
    </div>
    <hr/>
  </div>
</div>

